<h2>
    <%= t('.title') %>
</h2>

<!-- etiqueta <%= %> reconoce codigo ruby 
    ejemplo
    <%= 1 + 1 %>
    <%= Date.today %>
    <%= @products.count %>
-->

<!--
    render partial funciona igual que el each en la collection @products

<% @products.each do |product| %>

<% end %>

 -->

<%= render partial: 'product', collection: @products %>